body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#btnFiltrarResponsable {
    display: list-item;
    background-color: #0d1321;
    color: white;
    position: absolute;
    top: 182px;
    right: 74px;
    padding: 12px;
    padding-right: 40px;
    padding-left: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#btnFiltrarResponsable:hover {
    background-color: #272e3d;
}

#responsablesLista {
    display: list-item;
    position: absolute;
    top: 224px;
    right: 74px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    z-index: 1000;
    height: auto;
    width: 200px;
    border-radius: 8px;
    padding: 2px;
    margin-left: 25px;
    width: 257px;
    
}

#responsablesLista button {
    display: block;
    width: 100%; /* Cambiado a 100% */
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: #333333;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


#responsablesLista button:hover {
    background-color: #eeeeee;
}

#responsablesLista ul {
    list-style:circle;
    padding: 10;
    
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#formularioNuevaTarea {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #707973;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    height: 670px;
    width: 530px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.formularioNuevaTarea1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9eae1;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    height: 620px;
    width: 500px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

#formularioNuevaTarea h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

#formularioNuevaTarea label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#formularioNuevaTarea input[type="text"],
#formularioNuevaTarea textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#formularioNuevaTarea #descripcion textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#formularioNuevaTarea button[type="submit"],
#formularioNuevaTarea button[type="button"] {
    background-color: #0d1321;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#formularioNuevaTarea button[type="submit"]:hover,
#formularioNuevaTarea button[type="button"]:hover {
    background-color: #7c9082;
    transition: background-color 0.3s ease;
}

#formularioNuevaTarea .descripcion {
    width: 100%;
    margin: 0 auto;
    max-height: 100px;
    overflow: auto;
}

#formCrearTarea {
    padding: 25px;
}

#formularioEditarTarea {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #707973;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    height: 670px;
    width: 530px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.formularioEditarTarea1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9eae1;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    height: 620px;
    width: 500px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

#formularioEditarTarea h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

#formularioEditarTarea label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#formularioEditarTarea input[type="text"],
#formularioEditarTarea textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#formularioEditarTarea button[type="submit"],
#formularioEditarTarea button[type="button"] {
    background-color: #0d1321;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#formularioEditarTarea button[type="submit"]:hover,
#formularioEditarTarea button[type="button"]:hover {
    background-color: #7c9082;
    transition: background-color 0.3s ease;
}

#formEditarTarea {
    padding: 25px;
}

.form-container {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.form-container h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

.form-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.form-container input[type="text"],
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.form-container button[type="submit"],
.form-container button[type="button"] {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.form-container button[type="submit"]:hover,
.form-container button[type="button"]:hover {
    background-color: #0056b3;
}

.botonNuevaTarea {
    margin-left: 115px;

}

.botonNuevaTarea button {
    background-color: #7c9082;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 20px;
    width: 250px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.botonNuevaTarea button:hover {
    background-color: #6e7271;
    transition: background-color 0.3s ease;
}

.descpicionTarjeta {
    width: 100%;
    margin: 0 auto;
    max-height: 100px;
    overflow: auto;
}

.contenedor-tarjetas {
    margin-top: 40px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 90%;
    margin-left: 6%;
}

.tarjeta1 {
    border: none;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    background-color: #7c9082;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.tarjeta {
    border: none;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tarjeta:hover {
    transform: translateY(-5px);
}

.tarjeta h3 {
    margin-top: 0;
}

.tarjeta p {
    margin-bottom: 5px;
}

.button-container {
    text-align: center;
    margin-bottom: 20px;
}

.button-container button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: #0056b3;
    transition: background-color 0.3s ease;
}

.acciones {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.acciones button {
    background-color: #0d1321;
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
    transition: background-color 0.3s ease;
}

.acciones button:hover {
    background-color: #272e3d;
    transition: background-color 0.3s ease;
}

.acciones button:last-child {
    background-color: #a71d31;
    transition: background-color 0.3s ease;
}

.acciones button:last-child:hover {
    background-color: #db3a52;
    transition: background-color 0.3s ease;
}

.acciones button:last-child {
    margin-left: 5px;
}

.responsableTarjeta {
    margin-top: 10px;
    padding: 1px;
    padding-bottom: 10px;
    background-color: #c4ccca;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.fechaEntrega {
    margin-right: 100px;
    background-color: #c4ccca;
    border-radius: 5px;
    transition: background-color 0.3s ease;

}

body {
    background-color: #f9eae1;
    transition: background-color 0.3s ease;
}

#tituloPrincipal {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    padding: 20px;
    background-color: #0d1321;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    margin-bottom: 30px;
    transition: background-color 0.3s ease;
}

input[type="date"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

label[for="fechaEntrega"] {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}